#map {
        height: 600px;
        width: 80%;
        border-radius: 5px;
        margin: 0 auto;
       }

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #696969;
        background-image: url("https://hdwallsource.com/img/2014/9/simple-backgrounds-17277-17833-hd-wallpapers.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
      }
      
 .js-search-form {
  text-align: center;
  margin: 0 auto;
  top: 50px;
  border-radius: 2px;
  
 }    
 
 .js-query {
 text-align: center;
 height: 35px;
 border-radius: 7px;
 font-size: 25px;
 font-family: Helvetica;
 color: black;
 } 
 
 .title-header {
 text-align: center;
 color: white;
 font-family: Helvetica;
 font-size: 50px; 
 
 }
 
 .button {
 width: 100px;
 height: 35px;
 font-family: Helvetica;
 font-size:20px;
 border-radius: 6px;
 background-color: white;
 color: black;
 
 }
 
 
input:focus::-webkit-input-placeholder { 
color:transparent; 
}

.ui-autocomplete {
border: 1px black;
}