html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#map {
  height: 500px;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 15px;
  display: block;
  margin: auto;
  margin-top: 75px;
}

progress {
  margin-top: 20px;
  margin-right: 90px;
  display: inline-block;
}

.marker-container {
  height: 500px;
  width: 500px;
  background-color: green;
}

.content {
  width: 100%;
  height: 800px;
  margin-top: 100px;
  background-image: url("http://globalmedicalco.com/photos/globalmedicalco/2/8627.jpg");
  background-size: cover;
  margin-top: 25px;
}

.search {
}

.info-link {
  color: white;
  font-family: Open-sans;
  font-size: 20px;
  text-decoration: none;
  margin-top: 30px;
}

a:hover {
  background-color: black;
}

a {
  transition: background-color 1s;
}

.link-position {
  margin-top: 20px;
}

.info-content {
  font-size: 10;
  font-family: Open-sans;
  background: white;
  color: black;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("http://www.tokkoro.com/picsup/2891882-new-york-city-river-usa-night-helicopters-birds-eye-view-city-island-aerial-view___mixed-wallpapers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.js-search-form {
  text-align: center;
  margin: auto;
  top: 50px;
  border-radius: 2px;
  padding-bottom: 200px;
  padding-top: 2px;
  margin-left: 50px;
}

.js-query {
  text-align: center;
  height: 35px;
  border-radius: 7px;
  font-size: 25px;
  font-family: Open-sans;
  color: black;
  margin-top: 30px;
}

.title-header {
  text-align: center;
  color: white;
  font-family: Open-sans;
  font-size: 50px;
  letter-spacing: 3px;
}

.mainbutton {
  width: 100px;
  height: 35px;
  font-family: Open-sans;
  font-size: 20px;
  border-radius: 6px;
  background-color: white;
}

button:hover {
  cursor: pointer;
  background-color: #e6e6e6;
  transition: 0.3s;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.ui-autocomplete {
  border: 1px black;
}

.info {
  margin: 0 auto;
  width: 100px;
  color: white;
}

.intro {
  text-align: center;
  color: white;
}

.landing h2 {
  color: black;
  font-size: 30px;
  font-family: Open-sans;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 3px;
  color: white;
  margin-top: 300px;
}

.landing p {
  font-family: Open-sans;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  margin-top: 75px;
}

.landingbutton {
  width: 300px;
  height: 40px;
  font-family: Open-sans;
  font-size: 20px;
  border-radius: 13px;
  background-color: white;
  display: block;
  margin: auto;
  margin-top: 150px;
}

h2 {
  color: black;
  font-size: 30px;
  font-family: Open-sans;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 3px;
}

h3 {
  font-size: 15px;
  font-family: Open-sans;
  text-align: center;
  text-align: left;
}

.hidden {
  display: none;
}

.no-display {
  display: none;
}

#errorMessage {
  color: black;
  font-family: Open-sans;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
  margin-right: 50px;
}

.body-text p {
  font-family: Open-sans;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.js-search-form p {
  font-size: 15px;
  padding-top: 20px;
}

@media (max-width: 500px) {
  .content {
    width: 100%;
    height: 800px;
    margin-top: 100px;
    background-image: url("http://globalmedicalco.com/photos/globalmedicalco/2/8627.jpg");
    background-size: cover;
    margin-top: 25px;
    margin: 0;
  }

  .search {
    background-image: url("https://wallpapertag.com/wallpaper/full/5/2/f/350892-top-website-background-1920x1234.jpg");
  }

  .js-search-form p {
    font-size: 15px;
    padding-top: 20px;
  }

  .mainbutton {
    width: 100px;
    height: 35px;
    font-family: Open-sans;
    font-size: 20px;
    border-radius: 6px;
    background-color: white;
    margin-top: 5px;
  }

  .landingbutton {
    width: 300px;
    height: 40px;
    font-family: Open-sans;
    font-size: 20px;
    border-radius: 13px;
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 100px;
  }

  .landing h2 {
    color: black;
    font-size: 30px;
    font-family: Open-sans;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 3px;
    color: white;
    margin-top: 75px;
  }
}
